body {
	margin: 0;
}
#can {
	border: 1px solid #000;
}
#can2 {
	border: 1px solid #000;
	position: sticky;
	top: 0;
}

.canvas_wrapper {
	margin: 1rem;
}

.center {
	justify-content: center;
	align-items: start;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
